    
    /* MODAL */
    
    #modal
    {
        display: flex;
        width: 100%; 
        height: 100%;
        margin: 0;
        visibility: hidden;
        background-color:rgba(0,0,0,0.7);  
        flex-direction: row;            
        position: fixed;
        justify-content: center;
        align-items: center;
    }
    #elem-desc
    {
        padding-top: 15px;
        padding-left: 15px;
        border-style: solid;
        background-color: white;
        border-width: 3px;
        border-color: black;
        min-width: 50%;
        min-height: 50%;
        flex-shrink: 0;
        text-align: left;
        font-size: 1.3em;
        cursor:auto;
    }
 @media screen and (min-width: 1200px)
    {
        #elem-desc
        {
            padding: 15px 0 0 0;
            border-style: solid;
            background-color: white;
            border-width: 3px;
            border-color: black;
            min-width: 400px;
            min-height: 500px;
            text-align: center;
            font-size: 1.3em;
        } 
    }
    /* Modal END*/

    body 
    {
        margin: 0;       /* Getting rid of body's default margins so the modal translucence covers viewport completely*/
    }
    #elm-container
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

    }
    #lan
    {
        display: flex;
        flex-direction: column;
    }
    #act
    {
        display: flex;
        flex-direction: column;
    }
    .lanel, .actel
    {
        flex-shrink: 0;
        list-style-type: none;
        height: 80px;
        width: 80px;
        border-style: solid;
        border-width: 3px 3px 3px 3px;
    }
    .lanel
    {
        border-color: black;
        border-width: 3px 0px 0px 3px;
    }
    .actel
    {
        border-width: 3px 3px 0px 3px;
    }

    .actel:last-child
    {       
        border-width: 3px 3px 3px 3px;
    }

    .lanel:last-child
    {
        border-width: 3px 0px 3px 3px;
    }
    .lanel:hover, .actel:hover, #modal 
    {
        cursor:pointer;
    }

@media screen and (min-width: 1200px)    /* first and maybe only break point. I don't let the flex tables wrap because to make sense the elements need to be grouped into either exactly 2 columns or exactly
                                           two rows. they're color-coded, but it'd still be sloppy and I don't want the IUPAC mad at me.*/
{
    #elm-container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #lan, #act
    {
        display: flex;
        flex-direction: row;
    }
    .lanel, .actel
    {
        flex-shrink: 0;
        list-style-type: none;
        height: 80px;
        width: 80px;
        border-style: solid;
        border-width: 3px 0px 3px 3px;
    }
    .actel:last-child
    {       
        border-width: 3px 3px 3px 3px;
    }

    .lanel:last-child
    {
        border-width: 3px 3px 0px 3px;
    }
    .lanel
    {
        border-width: 3px 0px 0px 3px;
    }
}                                                  /* End of media query*/

    .lanel
    {
        background-color: gainsboro;
        color: black;
    }

    .actel
    {
        background-color: cornflowerblue;       /* not a chuck palahniuk joke, actinium is blue so I made their bg color blue*/
        color: white;
        border-color: black;
    }

    .atnum, .atwei, .atname
    {
        line-height: 25px;
        text-align: center;
        vertical-align: middle;
    }

    .atname
    {
        font-size: 1.5em;
        font-weight: bold;
    }

    #wrap
    {
        max-width: 1200px; 
        margin: 0 auto; 
        min-height: 100%;
    }
