    
    /* MODAL */
    
    #modal
    {
        display: flex;
        width: 100%; 
        height: 100%;
        margin: 0;
        visibility: hidden;
        background-color:rgba(0,0,0,0.7);  
        flex-direction: row;            
        position: fixed;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }
    #modal-desc
    {
        padding-top: 15px;
        padding-left: 15px;
        border-style: solid;
        background-color: white;
        border-width: 3px;
        border-color: black;
        min-width: 75%;
        min-height: 60%;
        flex-shrink: 0;
        text-align: left;
        font-size: 1.0em;
        cursor:auto;
    }
    #lan
    {
        display: flex;
        flex-direction: column;
    }
    #act
    {
        display: flex;
        flex-direction: column;
    }
    .lanel
    {
        background-color: gainsboro;
        color: black;
        border-color: black;
        border-width: 3px 0px 0px 3px;
    }

    .actel
    {
        background-color: cornflowerblue;       /* not a chuck palahniuk joke, actinium is blue so I made their bg color blue*/
        color: white;
        border-color: black;
        border-width: 3px 3px 0px 3px;
    }
    .lanel, .actel
    {
        flex-shrink: 0;
        list-style-type: none;
        height: 70px;
        width: 70px;
        border-style: solid;
    }
    .actel:last-child
    {       
        border-width: 3px 3px 3px 3px;
    }
    .lanel:last-child
    {
        border-width: 3px 0px 3px 3px;
    }
    .lanel:hover, .actel:hover, #modal 
    {
        cursor:pointer;
    }
    .atnum, .atwei, .atname
    {
        line-height: 23px;
        text-align: center;
        vertical-align: middle;
    }
    .atname
    {
        font-size: 1.5em;
        font-weight: bold;
    }
    #wrap
    {
        max-width: 1200px; 
        margin: 0 auto; 
        min-height: 100%;
    }
    body 
    {
        margin: 0;       /* Getting rid of body's default margins so the modal translucence covers viewport completely*/
        background-color: #393e41;
        color: #d3d0cb;
    }
    #actlan-container
    {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 90%;
        padding: 5% 0 5% 5%;
        justify-content: center;
    }
    #actlandesc
    {
        position: fixed;
        padding: 40% 20% 0 0;
        z-index: -1;               /*Makes sure description text never appears over the modal*/
    }
@media screen and (min-width: 200px)            /* Description disappears at the smallest breakpoint*/
    {
        #actlandesc
        {
            visibility: hidden;
        }
    }
@media screen and (min-width: 600px)
    {
        #modal-desc
        {
            font-size: 1.5em;
        }
        #actlandesc
        {
            visibility: visible;
            position: fixed;
            padding: 4% 4% 0 28%;
            font-size: 1.3em;
        }
        #actlan-container
        {
            justify-content: left;
        }
    }

@media screen and (min-width: 768px)
    {
        #actlandesc
        {
            visibility: visible;
            position: fixed;
            padding: 4% 4% 0 20%;
        }
    }
 @media screen and (min-width: 1200px)
    {
        #modal-desc
        {
            padding: 15px 0 0 0;
            border-style: solid;
            background-color: white;
            border-width: 3px;
            border-color: black;
            min-width: 400px;
            min-height: 500px;
            text-align: center;
            font-size: 1.8em;
        } 
        #actlan-container
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 95.9%;
            padding: 5% 2% 0 2%;
        }
        #lan, #act
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .lanel, .actel
        {
            flex-shrink: 0;
            list-style-type: none;
            height: 75px;
            width: 75px;
            border-style: solid;
            border-width: 3px 0px 3px 3px;
        }
        .actel:last-child
        {       
            border-width: 3px 3px 3px 3px;
        }

        .lanel:last-child
        {
            border-width: 3px 3px 0px 3px;
        }
        .lanel
        {
            border-width: 3px 0px 0px 3px;
        }
        #actlandesc
        {
        position: fixed;
        padding: 25% 7% 0 7%;
        margin: auto;
        }
    }
                                              
    